<!-- 头部   -->
<div class="header" id="hearderTop">
    <div class="center">
        <div class="headerLeft">恒河体育--激发你的无限能量 </div>
    </div>
</div>

<!-- 导航栏 -->
<div class="nav" id="shouye-nav">
	<div class="center">
	    <h1 class="logo hearder-logo">
	        <a href="#"><img src="/static_user/images/2.png" alt="logo" title="广州恒河体育有限公司" style="height:50px;weight:150px;"></a>
	    </h1>
	    <div class="navLis">
	      <ul>
	        <li _menu_nav="0"><a href="index.html" title="首页">首页</a></li>
	        <li _menu_nav="1"><a href="introducution.html" title="公司介绍">公司介绍</a></li>
	           <li _menu_nav="2"><a href="#" title="顾问团队">顾问团队</a></li>
	           <li _menu_nav="3"><a href="#" title="比赛信息">比赛信息</a></li>
	           <li _menu_nav="4"><a href="news.html" title="新闻中心">新闻中心</a></li>
	           <li _menu_nav="5"><a href="service.html" title="服务项目">服务项目</a></li>
	           <li _menu_nav="6"><a href="#" title="联系方式">联系方式</a></li>
	      </ul>
	   </div>
    </div>
</div>
